<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">{{ title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" 
          data-target="#navbarColor03" aria-controls="navbarColor03"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="container">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <!-- <button class="btn btn-primary">Load</button> -->

  <div *ngIf="movies.length">
    <div class="row top-row">
      <div class="col-lg-4" *ngFor="let movie of movies">
        <div class="card text-white bg-primary mb-3 movies-card" (click)="openMovie(movie.originalName)">
          <div class="card-header">{{movie.parsedName ? movie.parsedName : movie.movieObj.title}}</div>
          <div class="card-body">
            <h4>Rating: {{ movie.rating }} / 10</h4>
            <h4 *ngIf="movie.movieObj">Vote Count: {{ movie.movieObj.vote_count }}</h4>
            <img class="responsive movie-poster" *ngIf="movie.poster" 
                 src="{{movie.poster}}" />
            <img class="responsive movie-poster" *ngIf="!movie.poster" 
                 src="http://localhost:4200/assets/nophoto.svg" />
            <p class="card-text">
              {{ movie.movieObj?.overview ?  movie.movieObj?.overview : 
                 'No description available'
              }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
